.primary1-bg {
    background-color: #F5F5F5;
    height:100vh;
}
.form-control{
    background-color: #F5F5F5;
}
.header-footer-bg{
    background-color: #3498DB;
    margin-top:4px;
    margin-bottom:4px;
}
.task-item{
    background-color: #FFA500;
    color:#333333;
    margin:4px;
}
.task-item-two{
    border:#27AE60 solid 3px;

}
.completed-task-item{
    background-color:#A9A9A9;
    color:#FFFFFF;
    
}
.delete-button{
    background-color: #E74C3C;
    margin:1px;
    border:#E74C3C;
}
.edit-button{
    background-color: #F1C40F;
    margin:1px;
    border: #F1C40F;
}
.add-button{
    background-color: #27AE60;
    margin:1px;
    border:#27AE60
}